body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.322)),url("/Images/Woman\ with\ headwrap.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}
