body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.007), rgb(0, 0, 0)), url(/Images/WomanHeadwrap\(s\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.container {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}