body {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://bit.ly/32MwUct"); 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  padding: 7% 0 0;

}

.container {
  width: px;
  margin: 0 auto 10px;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff36;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 40px;
}
.form input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: 1;
  background: #000000ad;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 20px;
  color: #ffffffe7;

}
.form button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 0;
  padding: 15px;
  color: #ffffff8f;
  background: rgba(0, 128, 0, 0.288);
  border-radius: 20px;
  cursor: grabbing;
  width: 40%;
}

.form p {
  color: rgba(220, 230, 231, 0.918);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.form a {
  text-decoration: none;
  color: #ffffff36;
}

.form li {
  list-style: none;
  padding: 10% 0 0;
}

.form a:hover { 
  color: red;
}

